#ID 
{
    width: 1520px;
    height: 400px;
    background-color: #c40578;
}
#zajak1
{
    width: 200px;
    height: 200px;
}

#zelka1
{
    top: 380px;
    width: 200px;
    height: 200px;
}
form
{
    margin-top: 100px;
}
input
{
    color: rgb(41, 30, 191);
    font-size: 24px;
    padding: 14px 40px;
    border: 2px solid #000a5a;
    border-radius: 12px;
}
h1{
    color: #c40578;
    margin-left: 500px;
}